body{
    background-image: url(images/musicnotes.avif);
    background-size: cover;
    background-position: top;
    background-repeat: repeat-x;
}
a:visited{
    color: orangered;
}
a:link{
    background-color: burlywood;
}
a:hover{
    background-color: green;
}
a:active{
    color: aquamarine;
}
img{
    width: 15%;
}
